#home-content  {
    background-image: url('../../assets/images/home.jpg');
    min-height: 100vh;
    justify-content: center;
 }

h2{
    margin:0 100px 0 0;
    padding-top: 50px;
	}
.text{
		margin: 0 auto;
	}

#home-action h2 {
	    color: white;
	    font-size: 3em;
	    text-align: center;
    }
.pad{
    margin-top: 100px
    }
